<ion-view view-title="Home" data-ng-controller="HomeCtrl as homeCtrl">
	<ion-content>

		<h3 style="text-align:center;">Lets test the real things!</h3>
		<div class="row">
			<div class="col">
				<img style="width:100%" ng-src="{{ homeCtrl.defaultImage }}" />
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.selectImage()" class="button button-calm">Select Phone Image</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.takePicture()" class="button button-calm">Take Picture</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.shareThis()" class="button button-calm">Share This Page</button>
			</div>
		</div>

		<h3 style="text-align:center;">Facebook Login:</h3>
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Name</span>
				<input type="text" placeholder="Fullname" ng-model="homeCtrl.fullname">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">UserID</span>
				<input type="text" placeholder="User ID" ng-model="homeCtrl.userid">
			</label>
		</div>
		<div class="padding">
	        <button ng-click="homeCtrl.loginFB()" class="button button-block button-positive">Login via FB</button>
	    </div>
	</ion-content>
</ion-view>