<ion-view view-title="Home" data-ng-controller="HomeCtrl as homeCtrl">
	<ion-content>
		<ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="homeCtrl.updateList()">
		</ion-refresher>

		<!-- example list -->
		<ul class="list">
		    <li class="item" ng-repeat="user in homeCtrl.users">
		    	{{ user }}
		    </li>
		</ul>

		<h3 style="text-align:center;">Welcome Home!</h3>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.shareBtn()" class="button button-calm">Share this Page</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.submitBtn()" class="button button-calm">Submit Something</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.showSignUp()" class="button button-calm">Please Sign-up</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button ng-click="homeCtrl.confirmationBtn()" class="button button-calm">Confirmation Button</button>
			</div>
		</div>

		<h3 style="text-align:center;">Infinite Scroll:</h3>

		<!-- example list -->
		<ul class="list">
		    <li class="item" ng-repeat="list in homeCtrl.lists">
		    	{{ list }}
		    </li>
		</ul>

		<ion-infinite-scroll
			ng-if="homeCtrl.stillHaveData"
		    on-infinite="homeCtrl.loadMoreDatas()"
		    distance="1%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>