<ion-tabs class="tabs-positive tab-icon-top">
	<ion-tab class="One" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/tab/home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>
	<ion-tab class="Two" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/tab/settings">
		<ion-nav-view name="tab-settings"></ion-nav-view>
	</ion-tab>
</ion-tabs>