<ion-view view-title="Login"  data-ng-controller="LoginCtrl as ctrl">
	<ion-content>

	<!-- Body -->

	<h3 style="text-align:center;">Facebook Login:</h3>

	<button class="btn btn-primary" ng-click="ctrl.loginFB()">
		Login via FB
	</button>

	<!-- End Body -->

	</ion-content>
</ion-view>