<ion-view view-title="Settings" data-ng-controller="SettingCtrl as ctrl">
	<ion-content class="padding">

	<!-- body-->
	
	<ion-refresher  pulling-text="Pull to refresh..." on-refresh="ctrl.updateList()"></ion-refresher>


	<ul class="list">
	    <li class="item" ng-repeat="list in ctrl.myLists">
	    	{{ list }}
	    </li>
	</ul>

	<!-- end of body -->

	</ion-content>
</ion-view>