<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
	  <h1 class="title">Create an Account</h1>
	  <button class="button button-clear button-primary" ng-click="closeMe()">X</button>
	</ion-header-bar>

	<ion-content>
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Name</span>
				<input type="text" placeholder="John">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Email</span>
				<input type="text" placeholder="john@suhr.com">
			</label>
		</div>
		<div class="padding">
	        <button class="button button-block button-positive">Create Account</button>
	    </div>
	</ion-content>
</ion-modal-view>