<ion-tabs class="tabs-positive tab-icon-top">

	<ion-tab icon-on="ion-heart" icon-off="ion-heart" href="#/tab/wedding">
		<ion-nav-view name="tab-wedding"></ion-nav-view>
	</ion-tab>

	<ion-tab icon-on="ion-person" icon-off="ion-person" href="#/tab/settings">
		<ion-nav-view name="tab-settings"></ion-nav-view>
	</ion-tab>

</ion-tabs>